html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background: #FFAF45;
    background: linear-gradient(to left, #FFAF45 0%, #FB6D48 25%, #D74B76 50%, #965d99 100%);
    padding: 10vh;
}
.containerHeader{
    display: flex;
}
.foto-prof{
    flex: 1;
    text-align: center;
}
.fotoProper{
    width: 20vw;
    border-radius: 2%;
}
.detail-prof{
    flex: 1.5;
}
.nameCat{
    font-size: 5vw;
    color: #fff;
    text-align: left;
}
.titleCat {
    font-size: 2vw;
    color: #fff;
}
.btn-kuy{
    border: none;
    border-radius: 6%;
    padding: 0.75vw 1.5vw;
    margin: 10px 10px 0 0;
    font-size: 15px;
}